<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              
              <input class="form-control" type="hidden" name="Direccion" placeholder="Direccion" value="Arriba">    
            </div>
            <button class="btn btn-primary" type="submit">
              Arriba
            </button>
          </form> <form action="/add" method="post">
            <div class="form-group">
              
              <input class="form-control" type="hidden" name="Direccion" placeholder="Direccion" value="Abajo">    
            </div>
            <button class="btn btn-primary" type="submit">
              Abajo
            </button>
          </form> 
          
          
          
          <form action="/add" method="post">
            <div class="form-group">
              
              <input class="form-control" type="hidden" name="Direccion" placeholder="Direccion" value="Derecha">    
            </div>
            <button class="btn btn-primary" type="submit">
              Derecha
            </button>
          </form> 
          
          
          
          <form action="/add" method="post">
            <div class="form-group">
              
              <input class="form-control" type="hidden" name="Direccion" placeholder="Direccion" value="Izquierda">    
            </div>
            <button class="btn btn-primary" type="submit">
              Izquierda
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Direccion</th>    
       <!--      <th>Eliminar</th>    -->
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= tasks[i].Direccion %></strong></td>
          <!--       <td>
                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">
                  Eliminar
                </a>
               
              </td>  -->
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

